<div class="container">
    <div class="getting-started-section my-5">
        <h3 style="color: #5E6282;" class="fw-bold fs-3 text-center my-5">Getting Started</h3>
        <div class="row ">
            <div class="col-12 col-lg-6 my-5">
                <div routerLink="/schools"
                    class="getting-started-card h-75 w-75 rounded rounded-5 d-flex justify-content-center align-items-center m-auto position-relative"
                    style="background-image: url(./imgs/home/getting_started_schools.jpg);background-position: center; background-size: cover;">
                    <div class="position-absolute top-0 start-0 w-100 h-100 rounded rounded-5"
                        style="background-color: rgba(0, 0, 0, 0.5);">
                    </div>
                    <div
                        class="getting-started-card-details position-absolute bottom-0 h-75 w-100 bg-light rounded-bottom-5 text-center d-flex flex-column justify-content-center align-items-center px-5">
                        <h3><span class="text-warning">Ready-made supply lists</span> for each grade across different
                            schools, fully packed and delivered
                        </h3>
                    </div>
                    <h1 class="text-light text-center for-text">
                        For<br>Schools
                    </h1>
                </div>
            </div>
            <div class="col-12 col-lg-6 my-0 my-lg-5">
                <div routerLink="individuals"
                    class="getting-started-card h-75 w-75 rounded rounded-5 d-flex justify-content-center align-items-center m-auto position-relative"
                    style="background-image: url(./imgs/home/getting_started_individuals.jpg);background-position: center; background-size: cover;">
                    <div class="position-absolute top-0 start-0 w-100 h-100 rounded rounded-5"
                        style="background-color: rgba(0, 0, 0, 0.5);">
                    </div>
                    <div
                        class="getting-started-card-details position-absolute bottom-0 h-75 w-100 bg-light rounded-bottom-5 text-center d-flex flex-column justify-content-center align-items-center px-3">
                        <h3><span class="text-warning">Choose individual items</span><br> or <br><span
                                class="text-warning">create a custom
                                supply list</span><br>
                            tailored to your needs.
                        </h3>
                    </div>
                    <h1 class="text-light text-center for-text">
                        For<br>individuals
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>