<div class="mt-5 p-5 " style="background-color: #FFF1DA;">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <h1 class="dark-color mb-3 fw-bold">Brand Name</h1>
            <p class="light-color">Get exactly what your school requires <br> fast, simple, and stress-free</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-2">
            <h4 class="dark-color my-3 fw-bold">Company</h4>
            <p class="light-color cursor-pointer" routerLink="/about">About</p>
            <p class="light-color cursor-pointer">contact</p>
            <p class="light-color cursor-pointer">Cooperating schools</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-2">
            <h4 class="dark-color my-3 fw-bold">Contact</h4>
            <p class="light-color"><img src="./logos/footer/mail.svg" alt=""> mail here</p>
            <p class="light-color"><img src="./logos/footer/phone.svg" alt=""> phone here</p>
            <p class="light-color"><img src="./logos/footer/location.svg" alt=""> location here</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-2">
            <h4 class="dark-color my-3 fw-bold">Main site sections</h4>
            <p class="light-color cursor-pointer" routerLink="">Home</p>
            <p class="light-color cursor-pointer" routerLink="/schools">For schools</p>
            <p class="light-color cursor-pointer" routerLink="individuals">For individuals</p>
        </div>
    </div>

</div>